/* === Tables ====================== */

.lzy-table-download ul {
  padding-left: 0.5em;
}
.lzy-table-download li {
  list-style: none;
  padding-left: 0.3em;
}
.lzy-table-download li:before {
  content: "\2192";
  padding-right: 0.3em;
}

#lzy .lzy-recview-popup .lzy-form-field-placeholder.lzy-form-field-placeholder.lzy-form-field-placeholder {
	width: 16em;
	width: calc(100% - var(--lzy-label-width, 7em) - 10px);
	padding: 0.2em 0.4em;
	display: inline-block;
	line-height: 2em;
	border: 1px solid #ddd;
	overflow: auto;
}
#lzy .lzy-recview-popup fieldset.lzy-form-label legend.lzy-legend.lzy-legend.lzy-legend.lzy-legend {
	margin-top: 0.6em;
}
.lzy-recview-container {
	width: 24em;
}
#lzy .lzy-recview-popup fieldset.lzy-form-label .lzy-form-field-placeholder.lzy-form-field-placeholder {
	margin-left: 6px;
	width: calc(100% - var(--lzy-label-width, 7em) - 26px);
	overflow: auto;
}
.lzy-recview-popup .lzy-form-field-type-textarea .lzy-form-field-placeholder {
	width: 100% !important;
}
.lzy-recview-popup fieldset.lzy-form-label legend {
	float: left;
	width: var(--lzy-label-width, 7em);
}
.lzy-recview-popup > div {
	max-width: 34em;
}
.lzy-recview-popup .lzy-form-field-placeholder {
	white-space: pre-wrap;
}
#lzy .lzy-recview-popup .lzy-popup-container .lzy-encapsulated .lzy-form-show-pw-icon,
#lzy .lzy-recview-popup .lzy-popup-container .lzy-encapsulated .lzy-form-field-type-buttons,
#lzy .lzy-recview-popup .lzy-popup-container .lzy-encapsulated .lzy-edit-rec-delete-checkbox,
#lzy .lzy-recview-popup .lzy-popup-container .lzy-form-show-pw-icon,
#lzy .lzy-recview-popup .lzy-popup-container .lzy-form-field-type-buttons,
#lzy .lzy-recview-popup .lzy-popup-container .lzy-edit-rec-delete-checkbox {
	display: none;
}
/*.lzy-popup-container .lzy-form-show-pw-icon,*/
/*.lzy-popup-container .lzy-form-field-type-buttons,*/
/*.lzy-popup-container .lzy-edit-rec-delete-checkbox {*/
/*	display: none;*/
/*}*/

.lzy-popup-container .lzy-form {
	max-width: unset;
	min-width: min(100%, 32em);
}

.lzy-table-control-btn .lzy-icon {
	display: block;
}

.lzy-edit-rec-form-container {
	overflow-x: auto;
}
.lzy-table-action-btns > button {
	min-width: 2em;
	height: 2em;
}
.lzy-table-action-btns {
	margin-bottom: 0.5em;
}

.lzy-table-default .dataTables_filter {
	margin-bottom: 4px;
}