/*  JS-Popup  */

.lzy-popup {
	background:rgba(0,0,0,.4);
	cursor:pointer;
	height:100%;
	position:fixed;
	text-align:center;
	top:0;
	width:100%;
	z-index:10000;
	display: flex;
	align-items: center;
	justify-content: center;
}
.lzy-popup-wrapper {
	background-color: #fff;
	box-shadow: 10px 10px 60px #555;
	height: auto;
	max-width: 551px;
	min-height: 100px;
	vertical-align: middle;
	width: 60%;
	border-radius: 8px;
	padding: 15px 5%;
	position: relative;
}
.lzy-popup-closebtn .lzy-popup-wrapper::after {
	content: '\0D7';
	background-color: #fff;
	border: 3px solid #999;
	border-radius: 50px;
	cursor: pointer;
	display: inline-block;
	font-family: arial;
	position: absolute;
	top: -20px;
	right: -20px;
	font-size: 25px;
	line-height: 30px;
	width: 30px;
	height: 30px;
	text-align: center;
}
.lzy-popup-buttons {
	margin: 1em 0;
}
