
/* === hash ============================== */
.lzy-add-first-user-wrapper {
    --lzy-label-width: 8em;
}
.lzy-input-hash {
    width: var(--lzy-form-hash-width, 8em);
}
.lzy-add-first-user-wrapper {
    width: 30em;
    max-width: 100%;
    margin: 5% auto;
}

#reveal-useradmin-extended-settings {
    --lzy-label-width: 15em;
}

/* --- Authentication ----- */
body {
    --lzy-login-txt-color: black;
}

.lzy-popup-with-header .lzy-login h1 {
	display: none;
}
.lzy-login-alternative-actions ul {
    /*margin: 0;*/
    padding: 0;
}
.lzy-login-alternative-actions li {
    list-style: none;
}
.lzy-login-alternative-actions a {
    font-style: italic;
    color: #444;
    font-size: 90%;
}
.lzy-login-sign-up {
    display: none;
}
/*!* login window for pages requiring login: *!*/
/*#lzy.lzy-page-override .lzy-required-login-wrapper {*/
/*    font-size: 12pt;*/
/*    max-width: 30em;*/
/*    margin: 0 auto;*/
/*}*/

.lzy-popup-wrapper.lzy-login-menu.lzy-login strong {
    font-weight: normal;
    color: #ffcc6e;
}

.lzy-create-accesslink-response:empty {
    display: none;
}
.lzy-create-accesslink-response {
    padding: 1em;
    border: 1px solid red;
}
.lzy-create-accesslink-response > div {
    padding: 0.5em 0;
}
.lzy-create-accesslink-response > div > a {
    margin-left: 2em;
    font-size: 125%;
    font-weight: bold;
}
.lzy-accesslink-request-button {
    margin-bottom: 1em;
}


#lzy .lzy-panels-widget.lzy-account-form {
    font-size: 10pt;
}

.lzy-login-menu ol {
    padding-left: 1em;
}
.lzy-login-menu ol li {
    list-style-type: none;
}
.lzy-login-link-menu img,
.lzy-login-link img {
    width: auto;
    height: 1.2em;
}
.lzy-login-link {
    display: inline-block;
    position: relative;
}

.lzy-login-link-menu a:hover,
.lzy-login-link a:hover {
    border-bottom: none;
}
.lzy-onetime-code-sent-overlay {
    border: 1px dashed red;
    margin: 50px 10px 10px 10px;
    padding: 10px;
    background: #fee;
}

.lzy-panels-widget .lzy-login-form,
.lzy-invite-user-form,
.lzy-signup-form {
    margin: 1em 0;
    border: 1px solid #ddd;
    padding: 20px;
    max-width: 28em;
}
.lzy-useradmin-wrapper .lzy-reveal-controller {
    margin-top: 2em;
    border: 1px solid orange;
}
.lzy-email-login .lzy-login-form,
.lzy-simple-login .lzy-login-form {
    margin: 2em 1em 1em 1em;
}

.lzy-login .lzy-popup-container {
    padding: 0 10px;
}
.lzy-login h1 {
    font-size: 14pt;
    margin: 0;
}
.lzy-invite-user-form {
    max-width: 40em;
}
.lzy-textarea2 {
    min-height: 16em;
}
.lzy-invite-user-mailtext-wrapper {
    margin: 1.5em 0;
    border: 1px solid gray;
    padding: 10px;
}

.lzy-login-form input,
.lzy-invite-user-form input,
.lzy-signup-form input {
	width: 100%;
    line-height: 1.5em;
}
.lzy-login-form textarea,
.lzy-invite-user-form textarea,
.lzy-signup-form textarea {
	width: 100%;
    line-height: 1.5em;
}
.lzy-login-form  label,
.lzy-user-self-signup-email-label,
.lzy-signup-form  label {
    display: block;
}

.lzy-signup-form button,
.lzy-login-form button,
.lzy-invite-user-form button,
.lzy-login-form-button {
    min-width: 6em;
    padding: 5px 1.5em;
    margin: 1em 0;
}
.lzy-popup-container .lzy-login-form-wrapper {
    margin-top: 1em;
}
.lzy-account-form-message:empty {
    display: none;
}
.lzy-account-form-message {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid red;
}
.lzy-form .lzy-formelem-show-info {
    padding: 0 0 0 5px;
    min-width: initial;
}
.lzy-form-username-label > span,
.lzy-form-password-label > span {
	display: inline-block;
    margin-right: 1em;
}
.lzy-define-new-password-text {
    margin: 1em 0 1.5em;
}

.lzy-form-top-error-msg:empty {
    display: none;
}
.lzy-form-top-error-msg {
    margin: 1em 0;
    padding: 1em;
    color: red;
    border: 1px solid red;
}

.lzy-form-password-label.lzy-form-password-label {
	display: inline-block;
    /*margin: 0.75em 0 0em;*/
}
/*.lzy-form-show-password2 > a,*/
.lzy-form-password-label2.lzy-form-password-label2 {
    margin: 0.7em 0 0em;
}
.lzy-form-password2.lzy-form-password2 {
    margin-top: 0.5em;
}
.signup-submit-btn.signup-submit-btn {
    margin-top: 1.5em;
}
.lzy-form-password > input,
.lzy-login-username > input {
    padding: 5px 10px;
}

.lzy-form-show-password {
    float: right;
}
.lzy-form-show-password a {
    display: inline-block;
}

input.lzy-form-checkbox {
    display: inline-block;
    width: 2em;
}

.lzy-textarea-label textarea {
    display: block;
    width: 100%;
    margin-top: 5px;
    height: 5em;
}

.lzy-error-message {
	display: block;
	line-height: 1.4em;
	padding: 2px 8px;
	margin-bottom: 0.5em;
	border: 1px solid #fdd;
	background: #fee;
}

.lzy-account-form-wrapper output:empty {
	display: none;
}

#lzy.lzy-large-screen #lzy-login-form {
    font-size: 11pt;
}
#lzy.lzy-large-screen #lzy-login-form > div {
    width: 42em;
}

.lzy-login-submit-button,
.lzy-signup-submit-button {
    margin-top: 5px;
}

.lzy-form-element label,
.lzy-form-show-password {
    margin: 1em 0 0.3em 0;
    display: inline-block;
}
.lzy-account-form-wrapper textarea,
.lzy-account-form-wrapper input {
    border: 0.2px solid #bbb;
    padding: 3px 0.5em;
    margin-top: 0.3em;
}
.lzy-account-form-wrapper input:focus {
    box-shadow: 0 0 5px 2px #67770e;
    outline: none;    
}


.lzy-account-form-notification {
    color: red;
    font-style: italic;
}


.lzy-login-multi-mode .lzy-login-form,
.lzy-login-multi-mode .lzy-signup-form {
    border: none;
}

.lzy-admin-info {
    display: block;
    border: 1px dotted green;
    padding: 8px 10px;
    background: #eef4cc;
    margin: 10px 0;
    font-size: 90%;
}
.lzy-admin-info,
.lzy-admin-info p {
    color: #333;
}
.lzy-form-show-password svg .crossed {
    display: none;
}
.lzy-form-show-password svg {
    height: 1.5em;
    width: auto;
    margin-top: -0.25em;
    fill: var(--lzy-login-txt-color);
}

.lzy-logged-in-confirmation {
    border: 1px solid #ddd;
    padding: 2em;
    
}

/*
.lzy-form-show-password a,
a.lzy-show-onetimelogin-info,
a.lzy-show-un-pw-login-info,
a.lzy-show-password-login-info,
a.lzy-show-signup-password-info,
a.lzy-show-signup-info
*/
.lzy-form-show-password a,
.lzy-admin-show-info {
    border-bottom: none;
}

.lzy-form-show-password,
.lzy-admin-show-info {
    position: relative;
}
.lzy-form-show-password {
    height: 18px; /* height of icon */
}

/*input.lzy-login-email:not([value=""]):not(:focus):invalid{*/
input.lzy-login-email:not([value=""]):not(:focus):not(:placeholder-shown):invalid {
  background-color: #fee;
}
/*form input.lzy-login-email[type=email]:empty {*/
/*
form input.lzy-login-email[value=""] {
    background: #fff;
}
form input.lzy-login-email[] {
    background: #fee;
}
input.lzy-login-email[type=email]:invalid {
    background: #fee;
}
input.lzy-login-email[type=email]:valid {
    background: #efe;
}
*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: right;
  font-style: italic;
  padding-right: 4px;
  font-size: 90%;
}
::-moz-placeholder { /* Firefox 19+ */
  text-align: right;
  font-style: italic;
  padding-right: 4px;
  font-size: 90%;
}
:-ms-input-placeholder { /* IE 10+ */
  text-align: right;
  font-style: italic;
  padding-right: 4px;
  font-size: 90%;
}
:-moz-placeholder { /* Firefox 18- */
  text-align: right;
  font-style: italic;
  padding-right: 4px;
  font-size: 90%;
}
::placeholder { /* generic */
  text-align: right;
  font-style: italic;
  padding-right: 4px;
  font-size: 90%;
}



/* === Edit Users Table ==================== */
#lzy .lzy-edit-rec-form {
    --lzy-label-width: 11em;
}
#lzy .lzy-form .lzy-form-field-type-hash input,
#lzy .lzy-form.lzy-encapsulated .lzy-form-field-type-hash input {
    width: 8em;
}




/* Add User*/
.lzy-adduser-wrapper span {
    display: inline-block;
}
.lzy-adduser-wrapper .lzy-adduser-mail {
    width: 15em;
}

.main .lzy-admin-task-response {
    padding: 15px;
    border: 1px solid #ddd;
    margin-top: 4em;
    max-width: 25em;
}

.lzy-adduser-response {
    margin: 2em 0;
    padding: 1em;
    border: 1px solid #aaa;
}


/* User self signup form */
.lzy-user-self-signup-access-code-box,
.lzy-user-self-signup-email {
    display: block;
    border: 0.2px solid #bbb;
    padding: 3px 0.5em;
    margin-top: 0.5em;
}

.lzy-signup-access-code-explanation {
    margin: 1em 0;
}
.lzy-signup-access-link {
    display: block;
    color: red;
}
.lzy-adduser-response > div {
    margin: 0.5em 0;
}
.lzy-adduser-response > div > span {
    display: inline-block;
}
.lzy-adduser-response > div > span:first-child {
    width: 8em;
}

/* === create ticket ============== */
#lzy .lzy-create-ticket-form {
    font-size: 10pt;
    --lzy-form-width: 36em;
    --lzy-label-width: 8em;
}
.lzy-create-ticket-form label {
    width: 8em;
}
.lzy-create-ticket-form .lzy-form-radio-elem label {
    margin-right: 1.5em !important;
}
.lzy-create-ticket-form select {
    width: calc(100% - var(--lzy-label-width) - 10px);
    height: 2.5em;
}

.lzy-create-ticket-comment {
    margin: 2em 0 0 0;
    padding: 1em;
    border: 1px solid green;
}


/* === Edit User Form ===================== */
#lzy .lzy-edit-profile-wrapper .lzy-panels-widget.lzy-account-form {
    font-size: 9pt;
}