/*
**  Auxiliary Styling
 */


// === Checklists:
.lzy-checklist {
    padding: 0;
}
.lzy-checklist li {
    list-style: none;
}
.lzy-checklist-input {
    margin-right: 0.5em;
}
.lzy-checklist {
    .lzy-checklist-elem > input,
    .lzy-checklist-elem > span {
        display: inline-block;
        vertical-align: middle;
    }
    .lzy-checklist-elem > input::before {
        vertical-align: top;
    }
    input[type=checkbox]:not([disabled]) {
        cursor: pointer;
    }
    input[type=checkbox]:checked::before {
        content: "\2713";
    }
    input[type=checkbox]::before {
        content: "\202A";
        background: #ffffff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        text-align: center;
        display: inline-block;
        width: 100%;
        height: 100%;
        border: 1px solid #cdcdcd;
        border-radius: 4px;
        text-indent: 1px;
    }
    input[type=checkbox]:focus::before {
        box-shadow: 0 0 5px 2px magenta;
    }
}




/* === Reveal ========================== */
#lzy .lzy-form.lzy-encapsulated,
body {
    input.lzy-reveal-icon {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        background-color: transparent;
        position: relative;
        font-size: inherit;
        height: 1em;
        width: 1em;
        border: 0;
        cursor: pointer;
        margin-top: -1px;
        margin-right: 0.85em;
        outline: none;
        box-shadow: none;
    }

    input.lzy-reveal-icon::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 1em;
        height: 1em;
        text-align: center;
        line-height: 1em;
        margin: 0;
        content: '\254B';
        transition: transform 0.3s;
        transform-origin: 50% 50%;
    }
    input.lzy-reveal-icon:checked::before {
        transform: rotate( 90deg );
        //		transform-origin: 50% 50%;
        transition: transform 0.3s;
        content: '\2503';
    }
    .lzy-reveal-controller label {
        width: calc(100% - 2em);
    }
}

.lzy-reveal-container {
    overflow: hidden;
    &.lzy-elem-revealed {
        //		margin-bottom: 1em;
        transition: margin-bottom 0.3s;
        > div {
            margin-top: 0 !important;
            transition: margin-top 0.3s;
        }
    }
    > div {
        margin-top: -100vh;
        transition: margin-top 0.3s;
    }
}

.lzy-reveal-controller {
    padding: 0.5em 0;
}
.lzy-reveal-triangle {
    input.lzy-reveal-icon {
        margin-right: 0.4em;
        font-size: 90%;
        transform: translateY( 0.2em );
    }
    input.lzy-reveal-icon::before {
        content: '\25B7';
    }
    input.lzy-reveal-icon:checked::before {
        content: '\25B7';
    }

}



/*
** Adaptive Columns
** inspiration: www.heydonworks.com/article/the-flexbox-holy-albatross
** CSS-Variables
    --lzy-columns-number: 3;
    --lzy-column-min-width: 10rem;
    --lzy-columns-gap: 1rem;
*/

$columns-number: 3;
$column-min-width: 20ch;
$columns-gap: 2rem;



.lzy-columns-container {
    --lzy-columns-min-width: calc(var(--lzy-columns-number, #{$columns-number}) * var(--lzy-column-min-width, #{$column-min-width}) - ((var(--lzy-columns-number, #{$columns-number}) - 1) * var(--lzy-columns-gap, #{$columns-gap})));
}
.lzy-2-columns-container {
    --lzy-columns-number: 2;
    --lzy-columns-min-width: calc(2 * var(--lzy-column-min-width, #{$column-min-width}) - var(--lzy-columns-gap, #{$columns-gap}));
}
.lzy-3-columns-container {
    --lzy-columns-number: 3;
    --lzy-columns-min-width: calc(3 * var(--lzy-column-min-width, #{$column-min-width}) - (2 * var(--lzy-columns-gap, #{$columns-gap})));
}
.lzy-4-columns-container {
    --lzy-columns-number: 4;
    --lzy-columns-min-width: calc(4 * var(--lzy-column-min-width, #{$column-min-width}) - (3 * var(--lzy-columns-gap, #{$columns-gap})));
}
.lzy-columns-container,
.lzy-2-columns-container,
.lzy-3-columns-container,
.lzy-4-columns-container {
    display: flex;
    flex-wrap: wrap;
    --lzy-columns-flipper: calc((var(--lzy-columns-min-width) - 100%) * 1000);
    margin: 5px;
    margin: calc(var(--lzy-columns-gap, #{$columns-gap}) * -0.5);
}
.lzy-columns-container > div,
.lzy-2-columns-container > div,
.lzy-3-columns-container > div,
.lzy-4-columns-container > div {
    box-sizing: border-box;
    max-width: 100%;
    min-width: calc((100% / var(--lzy-columns-number, #{$columns-number})) - var(--lzy-columns-gap, #{$columns-gap}));
    flex-grow: 1;
    flex-basis: var(--lzy-columns-flipper);
    margin: 5px;
    margin: calc(var(--lzy-columns-gap, #{$columns-gap}) * 0.5);
}



