/*
**  Lizzy Layout-related Styles
**
** CSS Variables:
    --lzy-mobile-header-height:
    --lzy-mobile-footer-height:
    
    --lzy-mobile-header-txt-color:
    --lzy-mobile-header-bg-color:
    --lzy-mobile-header-text-size:
    
    --lzy-mobile-footer-txt-color:
    --lzy-mobile-footer-bg-color:
    --lzy-mobile-footer-txt-size:

    --lzy-mobile-nav-title-color:
    --lzy-mobile-nav-title-bg-color:
    --lzy-mobile-nav-txt-color:
    --lzy-mobile-nav-bg-color:

    --lzy-mobile-txt-color:
    --lzy-mobile-bg-color:
 */

// main page:
$mobile-main-txt-color: black;
$mobile-main-bg-color: white;

// mobile header:
$mobile-header-font-size: 6vw;
$mobile-header-height:    3rem;;
$mobile-header-txt-color: #ddd;
$mobile-header-bg-color:  #444;

$mobile-page-font-size:   4.5vw;
$mobile-nav-bg-color:     #333;
$mobile-nav-txt-color:     #ddd;
$mobile-nav-title-color:  #333;
$mobile-nav-title-bg-color: #ddd;

// mobile footer:
$mobile-footer-height: 2rem;
$mobile-footer-txt-color: #ddd;
$mobile-footer-font-size: 5vw;

$yPadding: 0.4rem;

$dl-as-table-dt-width: 6em;
$grid-gap: 10px;
$box-width: 300px;


// === Default Layouts:
.lzy-default-layout {

} // lzy-default-layout


// === Footer
.lzy-large-only,
.lzy-small-only {
	display: inline-block;
}

// === Large Screen:
.lzy-large-screen {
    .lzy-small-only {
        display: none;
    }
}
.lzy-small-screen {
    .lzy-large-only {
        display: none;
    }
}
.lzy-default-layout {
    .lzy-mobile-page-header {
        display: none;
    }
}
.lzy-large-screen.lzy-default-layout {
    font-size: 13pt;
    .lzy-small-screen-footer {
        display: none;
    }
    .lzy-footer {
        .lzy-icon-edit,
        .lzy-icon-settings,
        .lzy-fileadmin-button,
        .lzy-icon-user {
            color: var(--lzy-system-buttons, gray);
        }
        .lzy-fileadmin-button {
            border: none;
            background: none;
            padding-left: 0;
            margin-left: -0.1em;
            margin-right: 0.5em;
        }
        .lzy-footer-left {
            padding-top: 0.2rem;
        }
    }

}



// === Small/Mobile Screen:
.lzy-small-screen.lzy-default-layout {
    font-size: $mobile-page-font-size;
    background: $mobile-nav-bg-color;
    background: var(--lzy-mobile-nav-bg-color, $mobile-nav-bg-color);
    .lzy-page {
        padding: 1rem 0 0 0;
        //margin: $mobile-header-height 0 0 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        //        background: #333;
        height: 100vh;
        width: 100vw;
        overflow-y: auto;
    }
    .lzy-primary-nav * {
        color: $mobile-nav-txt-color;
        color: var(--lzy-mobile-nav-txt-color, $mobile-nav-txt-color);
    }

    .lzy-page-switcher-links a {
        font-size: var(--lzy-mobile-header-font-size, 8vw);
        color: #ddd;
        top: 0.5em;
    }
    .lzy-prev-page-link a {
        right: 1.2em;
        left: initial;
    }
    .lzy-large-screen-footer {
        display: none;
    }
    .lzy-footer {
        margin-top: 0;
    }

    .lzy-main,
    .lzy-header {
        position: fixed;
        top: #{$mobile-header-height};
        top: var(--lzy-mobile-header-height, #{$mobile-header-height});
        overflow-y: auto;
        padding-bottom: 15vh;
    }
    .lzy-header {
        left: 0;
        width: 60vw;
        box-shadow: inset -4px 0 4px 0px #333;
        height: #{$mobile-footer-height};
        height: calc(100vh - var(--lzy-mobile-header-height, #{$mobile-header-height}) - var(--lzy-mobile-footer-height, #{$mobile-footer-height}) );
        .lzy-nav.lzy-nav {
            a {
                padding-top: #{$yPadding} !important;
                padding-bottom: #{$yPadding} !important;
            }
        }
    }
    &#lzy .lzy-nav-wrapper.lzy-primary-nav a {
        background: none;
    }
    .lzy-main {
        left: 0;
        width: 100vw;
        height: #{$mobile-footer-height};
        height: calc(100vh - var(--lzy-mobile-header-height, #{$mobile-header-height}) - var(--lzy-mobile-footer-height, #{$mobile-footer-height}) );
        background: var(--lzy-mobile-bg-color, $mobile-main-bg-color);
        color: var(--lzy-mobile-txt-color, $mobile-main-txt-color);
        padding: 1rem;
        padding-bottom: 20vh;
        transition: left 0.3s;
    }

    .lzy-nav-title {
        color: #{$mobile-nav-title-color};
        color: var(--lzy-mobile-nav-title-color, #{$mobile-nav-title-color});
        background: #{$mobile-nav-title-bg-color};
        background: var(--lzy-mobile-nav-title-bg-color, #{$mobile-nav-title-bg-color});
        line-height: 2.5em;
        margin: 0;
    }
    .lzy-mobile-page-header {
        color: #{$mobile-header-txt-color};
        color: var(--lzy-mobile-header-txt-color, #{$mobile-header-txt-color});
        background: #{$mobile-nav-bg-color};
        background: var(--lzy-mobile-header-bg-color, #{$mobile-header-bg-color});
    }
    .lzy-header {
        display: none;
    }
    .lzy-footer {
        position: fixed;
        left: 0;
        width: 100vw;
        bottom: 0;
        color: var(--lzy-mobile-footer-txt-color, #000);
        background: #{$mobile-header-bg-color};
        background: var(--lzy-mobile-footer-bg-color, var(--lzy-mobile-header-bg-color, #{$mobile-header-bg-color}));
        padding-left: 1rem;
        padding-right: 0.5rem;
    }
    .lzy-footer * {
        color: #{$mobile-header-txt-color};
        color: var(--lzy-mobile-footer-txt-color, #{$mobile-header-txt-color});
        font-size: #{$mobile-footer-font-size};
        font-size: var(--lzy-mobile-footer-txt-size, #{$mobile-footer-font-size});
    }
    .lzy-mobile-page-header {
        display: block;
        z-index: 2;
    }
    .lzy-primary-nav {
        position: relative;
    }
    &#lzy .lzy-nav {
        .lzy-nav-label {
            display: inline-block;
            overflow-x: hidden;
        }

        &.lzy-nav-primary a {
            background: #4f4f4f;
            margin-bottom: 1px !important;
        }
    }
    &#lzy {
        .lzy-has-children.lzy-nav-no-content .lzy-nav-for-touch-only {
            display: none;
        }

        .lzy-nav-small-tree .lzy-nav-has-content .lzy-nav-for-touch-only {
            display: none;
        }
    }
    .lzy-primary-nav.lzy-nav-wrapper {
        min-height: 200vh;
    }

} // small-screen




//=== Mobile Page Header
.lzy-default-layout .lzy-mobile-page-header {
    text-align: center;
    height: #{$mobile-header-height};
    height: var(--lzy-mobile-header-height, #{$mobile-header-height});
    line-height: #{$mobile-header-height};
    line-height: var(--lzy-mobile-header-height, #{$mobile-header-height});
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    color: #{$mobile-header-txt-color};
    color: var(--lzy-mobile-header-txt-color, #{$mobile-header-txt-color});
    background: #{$mobile-header-bg-color};
    background: var(--lzy-mobile-header-bg-color, #{$mobile-header-bg-color});
    h1 {
        font-size: #{$mobile-header-font-size};
        font-size: var(--lzy-mobile-header-text-size, #{$mobile-header-font-size});
        font-weight: bold;
        margin: 0;
        //color: var(--lzy-mobile-header-txt-color, $mobile-header-txt-color);
    }
    button {
        height: #{$mobile-header-height};
        height: var(--lzy-mobile-header-height, #{$mobile-header-height});
        width: #{$mobile-header-height};
        width: var(--lzy-mobile-header-height, #{$mobile-header-height});
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        background: transparent;
        border: none;

        span {
            font-size: #{$mobile-header-font-size};
            font-size: var(--lzy-mobile-header-text-size, #{$mobile-header-font-size});
            color: #{$mobile-header-txt-color};
            color: var(--lzy-mobile-header-txt-color, #{$mobile-header-txt-color});
        }
    }
}



.lzy-right {
    float:right;
    margin: 0 0 1em 20px;
    max-width: 50%;
}
.lzy-left {
    float:left;
    margin: 0 20px 1em 0;
    max-width: 50%;
}
.lzy-left img {
    max-width: 100%;
}

/* === Tables: */
.lzy-div-table-row {
    display: flex;
}
/* === lzy-tables  */
.lzy-table {
    border-collapse:collapse;
    tr {
        vertical-align: top;
    }
}
.lzy-table-wrapping tr {
    display: flex;
    flex-wrap: wrap;
}

.dataTable,
.lzy-dataTable {
    .sorting {
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center right;
        background-image: url("../rsc/sort_both.png");
    }
    .sorting.sorting_asc {
        background-image: url("../rsc/sort_asc.png");
    }
    .sorting.sorting_desc {
        background-image: url("../rsc/sort_desc.png");
    }
}



/* === Definition Lists in table layout ======== */
.lzy-dl-floating, .dl-floating,
.lzy-dl-flex, .dl-flex,
.lzy-dl-as-table, .dl-as-table {
    //--lzy-dl-as-table-dt-width: 6em;
    --inline-block: inline-block;
    --flex: flex;
}
.lzy-large-screen {
    .lzy-dl-as-table,
    .dl-as-table {
        dl {
            margin: 0;
        }

        dt, dd {
            display: var(--inline-block); // hack to get round IE
            vertical-align: top;
            margin: 0 0 0.5em 0;
        }

        dt {
            width: 16em;
            width: var(--lzy-dl-as-table-dt-width, $dl-as-table-dt-width);
        }

        dd {
            width: 70%;
            width: calc(100% - var(--lzy-dl-as-table-dt-width, #{$dl-as-table-dt-width}));
        }
    }
}

// variante floating -> less problem in conjunction with printing
.lzy-small-screen {
    .dl-as-table,
    .dl-floating {
        dt {
            font-weight: bold;
        }
    }
}

.lzy-large-screen {
    .dl-floating {
        --dt-width: 6em;

        dl {
            clear: left;
        }

        dt, dd {
            margin-bottom: 0.5em;
        }

        dt {
            width: 6em;
            width: var(--dt-width);
            float: left;
        }

        dd {
            vertical-align: top;
            margin-left: 0;
            padding-left: 6.1em;
            padding-left: var(--dt-width);
        }
    }
}

// variante using flex -> less problem in conjunction with other floating elements
.dl-flex dl {
    display: block;
    display: var(--flex);
    flex-flow: row;
    flex-wrap: wrap;
    overflow: visible;
    dt {
        flex: 0 0 var(--lzy-dl-as-table-dt-width, $dl-as-table-dt-width);
        text-overflow: ellipsis;
        overflow: hidden;
    }
    dd {
        flex: 0 0 calc(100% - var(--lzy-dl-as-table-dt-width, #{$dl-as-table-dt-width}));
        margin-left: auto;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-bottom: 1em;
        line-height: 1.25em;
    }
}



// === Misc Layout Styles:
.lzy-h-space {
    display: inline-block;
    width: 2em;
}
.lzy-h-v-centered, .h-v-centered,
.lzy-v-h-centered, .v-h-centered {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* stretch-wrapping boxes: */
.lzy-stretch-wrapping-box-container {
    //--lzy-box-width: 300px;
    //--lzy-grid-gap: 10px;
    display: grid;
    grid-gap: var(--lzy-grid-gap, $grid-gap);
    grid-template-columns: repeat(auto-fill, minmax(var(--lzy-box-width, $box-width), 1fr));
    grid-auto-flow: dense;
    padding: 5px;
    padding: var(--lzy-grid-gap, $grid-gap);
}

.lzy-stretch-wrapping-box-container > div {
    overflow: hidden;
}

.lzy-stretch-wrapping-box-container > div img {
    width: 100%;
    height: auto;
    margin-bottom:-5px;  /* ??? bug workaround? */
}


.lzy-msgbox,
.lzy-warning-box {
    position: fixed!important;
    top: 5px;
    left: calc(100vw - 5px);
    max-width: 80vw;
    min-width: 30vw;
    padding:0.5em 1em;
    background: #fbfb77;
    border-radius: 5px;
    opacity: 0.8;
    color: black;
    box-shadow: 0 0 5px grey;
    z-index: 99;
    transform:  translateX(0);
    transition: transform var(--lzy-msg-transition-time, 0.6s);
}
.lzy-msgbox::after {
    position: absolute;
    content: ' ';
    background: transparent;
    left: -10px;
    right: -10px;
    top: 0;
    bottom: 0;
}
.lzy-msgbox.lzy-msg-show {
    transform:  translateX(-100%);
    transition: transform var(--lzy-msg-transition-time, 0.6s);
}
#lzy.lzy-large-screen {
    .lzy-msgbox,
    .lzy-warning-box {
        &, p, a, div, span {
            font-size: 12pt;
        }
    }
}


// === in-browser Logging Output
#lzy-log:empty {
    display: none;
}
#lzy-log {
    height: 10vh;
    background: #edd;
    margin: 0;
    padding: 10px 20px;
    overflow: auto;
    border: 1px solid red;
    position: fixed;
    width: 100vw;
    left: 0;
    bottom: 0;
    z-index: 9999;
}
#lzy-log h1 {
    font-size: 11pt;
    margin: 0 0 0.5em 0;
}
#lzy-log p {
    font-size: 8pt;
    margin: 0 0 0.5em 0;
}
#lzy-log-placeholder {
    content: " ";
    position: relative;
    height: 11vh;
    margin: 30px 0 0 0;
}



// ===  Overlays:
.lzy-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 30px);
    height: calc(100vh - 20px);
    margin: 10px;
    padding: 20px;
    color: black;
    background: #eee;
    border: 1px solid red;
    box-shadow: 0 0 15px 5px #444;
    box-sizing: border-box;
    overflow: auto;
    z-index: 1100;
}

.lzy-close-overlay {
    float: right;
    margin: -15px -15px 10px 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16pt;
    width: 2em;
    height: 2em;
}




// === when menu button clicked:
#lzy.lzy-default-layout.lzy-nav-mobile-open main {
    left: 60vw;
    transition: left 0.3s;
}


