/* === Admin =================================== */


/* === Admin Config Overlay ==================== */
.lzy-config-form .lzy-button {
    padding: 0.3em 1.5em;
}

.lzy-config-elem {
    padding: 0.5em 0;
    input {
        display: inline-block;
        width: 5em;
        &[type=text]:focus {
            width: 10em;
        }
    }
    label {
        font-weight: bold;
    }
    .lzy-config-comment {
        margin-left: 8em;
        font-style: italic;
    }
}
.lzy-config-select {
    text-align: right;
}


// Config Viewer:
.lzy-config-viewer dt strong {
    color: navy;
}
.lzy-config-viewer dt code {
    color: black;
}
.lzy-config-viewer-hl,
.lzy-config-viewer dt code.lzy-config-viewer-hl {
    color: red;
}
.lzy-config-viewer dd {
    margin-bottom: 1em;
}





